.aboutus_first1,
.aboutus_second {
  display: flex;
}

.aboutus_image1 img {
  width: 400px;
}

.aboutus_data1 {
  display: flex;

  text-align: center;

  justify-content: center;

  align-items: center;

  padding: 10px;

  margin: 2px;
  width: 80%;
}

.aboutus_data1 p{
  text-align: justify;
}

.aboutus_first1 {
  flex-wrap: wrap-reverse;

  align-items: center;

  justify-content: center;
}

/* @media screen and (min-width:1151px)

{

    .first{

        display: flex;

    align-items: center;

    justify-content: center;

    

    }

} */

.aboutus_second {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-top: 3rem;
}

