.aboutus_first1,
.aboutus_second {
  display: flex;
}

.aboutus_image1 img {
  width: 400px;
}

.aboutus_data1 {
  display: flex;

  text-align: center;

  justify-content: center;

  align-items: center;

  padding: 10px;

  margin: 2px;
}

/* @media screen and (min-width:1151px)

{

    .first{

        display: flex;

    align-items: center;

    justify-content: center;

    

    }

} */

@media screen and (max-width: 1128px) {
  .aboutus_second {
    display: flex;

    flex-direction: column;

    align-items: center;

    justify-content: space-around;
  }

  .aboutus_first1 {
    flex-wrap: wrap-reverse;

    align-items: center;

    justify-content: center;
  }
}
