* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}

/* Utility Classes */
.card {
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  border-radius: 20px;
  transition: all 0.3s;
  height:100%;
}

.card2, .card3 {
  width: 15rem;
  height: 20rem;
  background-color: #f49d11;
  border-radius: 20px;
  transition: all 0.2s;
}
.card3{

}

.card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

.card:hover {
  box-shadow: 0px 0px 30px 1px rgba(110, 247, 18, 0.304);
}

.flex {
  display: flex;
}

/* container */
.home-container {
  text-align: center;
  padding: 0 1rem 0;
}

/* page banner */

.page-banner {
  width: 100%;
  height: 400px;
  position: relative;
  text-align: center;
  border: 1px solid white;
  border-radius: 8rem;
  z-index: -1;
}

/* .page-banner img {
  aspect-ratio: 5/2;
} */

/* .page-banner h2 {
  background-color: #f49d11;
  border-bottom-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
  padding: 0.6rem 0;
} */

.page-banner-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: image_blur 7s 1;
  animation-fill-mode: forwards;
  border-radius: 8rem;
}

@keyframes image_blur {
  0% {
    opacity: 1;
    -webkit-filter: blur(0px);
  }
  30% {
    opacity: 1;
    -webkit-filter: blur(0px);
  }
  100% {
    opacity: 0.2;
    -webkit-filter: blur(8px);
  }
}

.page-banner-carousal-div {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 8rem;
}

/* Countdown */

.count-down {
  justify-content: center;
  align-items: center;
  margin: 6rem 0 3rem 0;
}

.count-down-div {
  display: flex;
  margin: 0 1rem 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.count-div-item-1 {
  padding: 1.5rem;
  border: 1px solid white;
  border-radius: 20px;
  width: 4.5rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Samar Youtube */
.embadded-video {
  width: 80%;
  margin: 0 auto;
  display:flex;
  /* background-color:blue; */
  flex-direction:row;




}
.video-1,.video-2,.video-3{
height:100%;
 width:30%;
 margin:1rem;
 margin-right:2rem;
 display:flex;
 height:fit-content;
}
.video-2{
 
}
 iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

/* speakers, schedule, sponsers, gallary */

.sssg-container {
  justify-content: space-around;
  align-items: center;
  margin: 8rem 0 4rem 0;
  flex-wrap: wrap;
  background-color:red;
  width:80%;
  margin:auto;
   margin-top:3rem;
   margin-bottom:3rem;
   
}

.sssg {
  margin: 0 0 2.5rem 0;
}

.sssg:hover .sssg-item {
  transform: scale(1.05);
}
.gallery{
  display:
}
.sssg-item-1 {
  background-image: url('https://live.staticflickr.com/65535/52395640653_0ba071af3a_c.jpg');
  border-radius: 30px;
  margin: 0 1rem 1rem;
  transition: all 0.3s;
  height:2rem;
  width:2rem;
}

.sssg-item img {
  width: 30%;
}

.sssg-item-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-container{
  display:flex;
  height:fit-content;
  width:80%;
  align-items:space-evenly;
  justify-items:space-between;
  /* background-color:red; */
  margin:auto;
  margin-top:4rem;
  margin-bottom:4rem;
  flex-direction:row;
  /* flex-wrap:wrap; */

}
.gallery-container{
 /* background-color:yellow; */
 height:100%;
 width:30%;
 margin:1rem;
 margin-right:2rem;
 display:flex;
 flex-direction:column;


}
.heading-container{

  align-items:center;
  margin:0;
  margin-bottom:1em;
  margin-top:2em;

}
.heading-container-cards h2{
font-weight:1000;
text-align:center;
text-transform:uppercase;
font-size:1.5em;
align-item:center;
justify-item:center;

}
.image-container{

  margin-top:1rem;
}
 .image-container img{
  transition: all 0.3s;
    
}
.merchandise-conatiner .image-container img{
  height:200.28px;
  width:321.2px;
}
.image-container img:hover{
  transform:scale(1.05);
}
.events-container{
  /* background-color:blue; */
 height:100%;
 width:30%;

}
.merchandise-conatiner{
  /* background-color:black; */
  height:100%;
 width:30%;
 margin:1rem;
 margin-left:2rem;
}

/* media queries */

@media screen and (max-width: 415px) {
  .home-container {
    display: flex;
    text-align: center;
    padding: 0 1rem 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .count-div-item-1 {
    color: #fcdcfc;
    padding: 0.4rem 0;
    width: 2rem;
    margin-bottom: 1rem;
  }

  .count-down {
    justify-content: space-between;
    margin: 2rem 0 3rem 0;
    font-size: 12px;
  }

  .count-down-div {
    margin: 0 0.2rem;
  }

  .card2 {
    width: 8rem;
    height: 8rem;
  }

  .sssg {
    margin: 0rem 0.3rem 2.5rem;
  }

  .sssg-container {
    margin: 4rem 0 0rem 0;
  }

  .sssg-item {
    margin: 0;
  }

  .embadded-video {
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  .page-banner h2 {
    padding: 0.3rem 0;
    font-size: 1rem;
  }
}

@media screen and (min-width: 501px) {
  .count-down {
    font-size: 2rem;
  }
}

@media screen and (max-width: 799px) and (min-width: 608px) {
  .sssg {
    margin: 0rem 3rem 3.5rem;
  }
}
@media screen and (max-width: 940px)
{
  .embadded-video {
    width: 100%;
    margin: 0 auto;
    display:flex;
 
    flex-direction:column;
  
  
  
  
  }
  .video-1,.video-2,.video-3{
height:100%;
width:100%;
margin:0;
margin-top:2em;


  }
.image-container{
  margin-left:1em;
  margin-right:1em;
}
  .cards-container{
    display: flex;
    margin:auto;
        flex-direction: column;
        height: 100%;
        width: 100%;
        margin: 0;
        align-items: center;
        justify-content: center;
        /* margin-top: 4em; */

  }
  .gallery-container{
    /* background-color:yellow; */
    height:100%;
    width:100%;
  margin:auto;
margin:1rem;
    
   
   
   }
   .merchandise-conatiner .image-container img{
    height:100%;
    width:100%;
  }
   .events-container{
   
    width:100%;
  margin:auto;

    display:flex;
    flex-direction:column;
   }
   .merchandise-conatiner{
    height:100%;
    width:100%;
  margin:auto;
  margin-top:1em;

    display:flex;
    flex-direction:column;
   }
   iframe{
    width:80%;
    margin:auto;
   }
   .heading-container-cards{
   margin-top:2em;
   }

}
