* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Gang of Three';
}
body {
  overflow-x: hidden;
}

/* .home-cursor:nth-child(1){
  cursor: url('../../Assets/Images/pokeball.png');
}
.home-cursor{
  cursor: url('../../Assets/Images/pokeball.png');
}
.custom-cursor {
  position: fixed;
  width: 40px;
  height: 40px; 
  background-image: url('path/to/your-cursor-image.png');
  background-size: cover;
  pointer-events: none;
}

.font-home{
  font-family: 'Gang of Three';
} */

.swiper-button-next,
.swiper-button-prev {
  right: 10px;
  padding: 30px;
  color: rgba(255, 255, 255, 0.5) !important;
  fill: rgba(255, 255, 255, 0.5) !important;
  stroke: rgba(255, 255, 255, 0.5) !important;
}

.samar-swiper-class {
  height: 100%;
  animation: image_unblur 3s 1;
  animation-fill-mode: forwards;
}

@keyframes image_unblur {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Utility Classes */
.card {
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  border-radius: 20px;
  transition: all 0.3s;
  height: 100%;
}

.card2,
.card3 {
  width: 15rem;
  height: 20rem;
  background-color: #f49d11;
  border-radius: 20px;
  transition: all 0.2s;
}
.card3 {
}

.card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

.card:hover {
  box-shadow: 0px 0px 30px 1px rgba(110, 247, 18, 0.304);
}

.flex {
  display: flex;
}

/* container */
/* .home-container { */
  /* text-align: center; */
  /* padding: 0 1rem 0; */
  /* padding: 6rem 1rem 0; */
/* } */

/* page banner */

.page-banner {
  width: 90%;
  height: 400px;
  position: relative;
  text-align: center;
  border: 1px solid white;
  border-radius: 2rem;
  margin: auto;
}

/* .page-banner img {
  aspect-ratio: 5/2;
} */

/* .page-banner h2 {
  background-color: #f49d11;
  border-bottom-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
  padding: 0.6rem 0;
} */

.page-banner-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: 60% 50%;
  background-repeat: no-repeat;
  animation: image_blur 3s 1;
  animation-fill-mode: forwards;
  border-radius: 2rem;
}
/* @media (max-width: 767px) {
  .page-banner-bg {
    background-image: url('../../Assets/Images/schedule-bg2.webp');
  }
}
@media (min-width: 768px) {
  .page-banner-bg {
    background-image: url('../../Assets/Images/schedule-bg1.webp');
  }
} */


/* first image  */

.page-first-image {
  width: 60%;
  height: 350px;
  /* height: 400px; */
  position: relative;
  text-align: center;
  border: 1px solid white;
  border-radius: 2rem;
  /* margin: auto; */
}

.page-first-image-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: 50% 31%;
  background-repeat: no-repeat;
  /* animation: image_blur 3s 1; */
  /* animation-fill-mode: forwards; */
  border-radius: 2rem;
}

/* team image  */

.team-image {
  width: 100%;
  height: 100%;
  /* height: 1000px; */
  position: relative;
  /* text-align: center; */
  /* border: 1px solid white; */
  /* border-radius: 2rem; */
}

.team-image-bg {
  width: 100%;
  height: 100%;
  position: relative;
  background-size: contain;
  /* background-position: 50% 31%; */
  background-repeat: no-repeat;
  /* animation: image_blur 3s 1; */
  /* animation-fill-mode: forwards; */
  /* border-radius: 2rem; */
}


/* heading properties */

.samar2k23{
  /* color: #c34f4e; */
  /* color: #fe7903; */
  /* color: #ed6a4a; */
  /* color: #ec9921; */
  /* color: white; */
  /* text-shadow: 0 0 10px white ; */
  /* text-shadow: 0 0 10px #fe7903 ; */
  /* 0 0 20px white; */
  /* margin: 2% auto 2%; */
  /* font-family: 'Gang of Three'; */
  font-size: 6vw;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}

.samar-animation {
  text-align: center;
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
    );
    
  
  /* margin: 0 0 2rem 0; */
  margin: 0 0 0 0;
  background-size: 200%;
  /* font-family: "Gang of Three"; */
  font-weight: bolder;
  /* font-size: 80px; */
  color: transparent;
  background-clip: text;
  animation: animation3 1.7s linear infinite;
}

@keyframes animation3 {
  to {
    background-position: 200% center;
  }
}

.heading-first-image{
  margin: auto;
}
.heading-presentsYou{
  /* font-family: 'Gang of Three'; */
  margin: 2% auto 1%;
  font-size: 50px;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  /* color: #fe7903; */
  color: white;
}
.heading-schedule{
  /* font-family: 'Gang of Three'; */
  margin: 1rem 0 2rem 0;
  font-size: 40px;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  color: #ffffff;
}
.heading-countdown{
  /* font-family: 'Gang of Three'; */
  /* margin: 2rem 0 0 0; */
  margin: 8rem 0 0 0;
  /* font-size: 50px; */
  /* font-size: 60px; */
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  color: #ffffff;
}
.countdown-text{
  /* font-family: 'Gang of Three'; */
  margin: 12rem 0 6rem 0;
  font-size: 10px;
  justify-content: center;
  align-items: center;
  /* font-weight: bolder; */
  color: #ffffff;
}
.heading-DaysHMS{
  /* font-family: 'Gang of Three'; */
}
.heading-time{
  /* font-family: 'Gang of Three'; */
}
.heading-our-team{
  /* font-family: 'Gang of Three'; */
  margin: 10rem 0 1rem 0;
  font-size: 40px;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  color: #ffffff;
}

/* date image  */

.date-img {
  width:45vw;
  /* width: 55rem; */
  /* height: 6rem; */
  height: 5vw;
  position: relative;
  text-align: center;
  /* margin: 2% auto 1%; */
  margin: auto;
}


.date-img-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
}

@keyframes image_blur {
  0% {
    /* opacity: 0.7; */
    -webkit-filter: blur(0px);
    filter:brightness(0.1);
  }
  40% {
    /* opacity: 0.7; */
    -webkit-filter: blur(0px);
    filter:brightness(0.1.5);
  }
  100% {
    /* opacity: 0.5; */
    /* -webkit-filter: blur(3px); */
    filter:brightness(0.2);
  }
}

.page-banner-carousal-div {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 8rem;
}

/* Countdown */

.count-down {
  justify-content: center;
  align-items: center;
  font-weight: bolder;
  /* margin: 6rem 0 3rem 0; */
  /* font-size: 50em; */
  /* height: 200px;
  width: 200px;
  margin: auto; */
}

.count-down-div {
  display: flex;
  margin: 0 1rem 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}

.count-div-item-1 {
  padding: 1.5rem;
  border: 3px solid white;
  border-radius: 20px;
  /* height: 10rem;
  width: 10rem; */
  width: 4.5rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  /* font-size: 3rem; */
  font-weight: bold;
}

/* Samar Youtube */
.embadded-video {
  width: 80%;
  margin: 0 auto;
  display: flex;
  /* background-color:blue; */
  flex-direction: row;
}
.video-1,
.video-2,
.video-3 {
  height: 100%;
  width: 30%;
  margin: 1rem;
  margin-right: 2rem;
  display: flex;
  height: fit-content;
}
.video-2 {
}
iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

/* speakers, schedule, sponsers, gallary */

.sssg-container {
  justify-content: space-around;
  align-items: center;
  margin: 8rem 0 4rem 0;
  flex-wrap: wrap;
  background-color: red;
  width: 80%;
  margin: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.sssg {
  margin: 0 0 2.5rem 0;
}

.sssg:hover .sssg-item {
  transform: scale(1.05);
}
.gallery {
  /* display: flex; */
}
.sssg-item-1 {
  background-image: url("https://live.staticflickr.com/65535/52395640653_0ba071af3a_c.jpg");
  border-radius: 30px;
  margin: 0 1rem 1rem;
  transition: all 0.3s;
  height: 2rem;
  width: 2rem;
}

.sssg-item img {
  width: 30%;
}

.sssg-item-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-container {
  display: flex;
  height: fit-content;
  width: 80%;
  align-items: space-evenly;
  justify-items: space-between;
  /* background-color:red; */
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
  flex-direction: row;
  /* flex-wrap:wrap; */
}
.gallery-container {
  /* background-color:yellow; */
  height: 100%;
  width: 30%;
  margin: 1rem;
  margin-right: 2rem;
  display: flex;
  flex-direction: column;
}
.heading-container {
  align-items: center;
  margin: 0;
  margin-bottom: 1em;
  margin-top: 2em;
}
.heading-container-cards h2 {
  /* font-family: 'moteratoo'; */
  color: #ffffff;
  font-size: 1.5em;
  font-weight: 1000;
  text-align: center;
  text-transform: uppercase;
  align-item: center;
  justify-item: center;
}
.image-container {
  margin-top: 1rem;
}
.image-container img {
  transition: all 0.3s;
}
.gallery-container .image-container img {
  height: 200.28px;
  width: 100%;
}
.merchandise-conatiner .image-container img {
  height: 200.28px;
  width: 100%;
}
.image-container img:hover {
  transform: scale(1.05);
}
.events-container {
  /* background-color:blue; */
  height: 100%;
  width: 30%;
}
.merchandise-conatiner {
  /* background-color:black; */
  height: 100%;
  width: 30%;
  margin: 1rem;
  margin-left: 2rem;
}

/* media queries */

@media screen and (max-width: 415px) {
  .home-container {
    display: flex;
    text-align: center;
    padding: 6rem 1rem 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .count-div-item-1 {
    color: #fcdcfc;
    padding: 0.4rem 0;
    width: 2rem;
    margin-bottom: 1rem;
  }

  .count-down {
    justify-content: space-between;
    margin: 2rem 0 3rem 0;
    /* font-size: 2em; */
    font-size: 12px;
  }

  .count-down-div {
    margin: 0 0.2rem;
  }

  .card2 {
    width: 8rem;
    height: 8rem;
  }

  .sssg {
    margin: 0rem 0.3rem 2.5rem;
  }

  .sssg-container {
    margin: 4rem 0 0rem 0;
  }

  .sssg-item {
    margin: 0;
  }

  .embadded-video {
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  .page-banner h2 {
    padding: 0.3rem 0;
    font-size: 1rem;
  }
}

@media screen and (max-width: 800px) {
  .page-banner {
    margin-top: 20px;
  }

  .page-banner-bg {
    background-size: inherit;
  }
}

@media screen and (min-width: 501px) {
  .count-down {
    font-size: 2rem;
  }
}

@media screen and (max-width: 799px) and (min-width: 608px) {
  .sssg {
    margin: 0rem 3rem 3.5rem;
  }
}
@media screen and (max-width: 940px) {
  .embadded-video {
    width: 100%;
    margin: 0 auto;
    display: flex;

    flex-direction: column;
  }
  .video-1,
  .video-2,
  .video-3 {
    height: 100%;
    width: 100%;
    margin: 0;
    margin-top: 2em;
  }
  .image-container {
    margin-left: 1em;
    margin-right: 1em;
  }
  .cards-container {
    display: flex;
    margin: auto;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;
    align-items: center;
    justify-content: center;
    /* margin-top: 4em; */
  }
  .gallery-container {
    /* background-color:yellow; */
    height: 100%;
    width: 100%;
    margin: auto;
    margin: 1rem;
  }
  .merchandise-conatiner .image-container img {
    height: 100%;
    width: 100%;
  }
  .events-container {
    width: 100%;
    margin: auto;

    display: flex;
    flex-direction: column;
  }
  .merchandise-conatiner {
    height: 100%;
    width: 100%;
    margin: auto;
    margin-top: 1em;

    display: flex;
    flex-direction: column;
  }
  iframe {
    width: 80%;
    margin: auto;
  }
  .heading-container-cards {
    margin-top: 2em;
  }
}

/* --------------------new styles by shankar ---------------- */
.carousal-page-content-gameName table td {
  padding: 20px 40px 20px 40px;
  font-size: large;
}
.carousal-page-content-gameName table {
  margin-top: 10px;
}
/* .carousal-page-content-gameName table th{
  background-color: rgba(193, 201, 205, 0.2);
  border-radius: 70px;
} */
.carousal-page-heading {
  font-size: 30px;
  font-weight: bold;
  padding: 5px;
}
.carousal_tabledata {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.carousal-page-content-gameName {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 700px) {
  .info_table {
    display: none;
  }
  .carousal_tabledata {
    justify-content: center;
  }
  .carousal-page-content-gameName table td {
    padding: 6px 4px 6px 4px;
  }
  .page-banner-carousal-div {
    border-radius: 1rem;
  }
  .page-banner-bg {
    border-radius: 1rem;
  }
  .page-banner {
    border-radius: 1rem;
  }
  .mid_row {
    width: 35%;
  }
  .mid_row1 {
    width: min-content;
  }
}

.home-toggle-button {
  margin: 20px 0px;
}

.toggle-text-div {
  margin: 0px 10px;
}

/* --------vertical progress bar--------  */


::-webkit-scrollbar {
  width: 0;
}
 #scrollPath {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
}  

#progressBar::before,
#progressBar::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, #ec9921, #dc5a42);
  /* animation: animate1 1s linear infinite; */
}

#progressBar::before {
  filter: blur(10px);
}

#progressBar::after {
  filter: blur(30px);
}

/* #progressBar {
  position: fixed;
  top: 0;
  right: 0;
  width: 10px;
  background: linear-gradient(to top, #ec9921, #dc5a42);
  animation: animate1 5s linear infinite;
} */

/* @keyframes animate1 {
  0%, 100% {
    filter: hue-rotate(0deg);
  }
  50% {
    filter: hue-rotate(30deg);
  }
} */

/* fire animation  */

/* .fireAnimation {
  z-index: -1;
  pointer-events: none;
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.smoke {
  height: 20px;
  width: 20px;
  position: absolute;
} */


/* text animation  */

.text-container{
  display: inline-block;
}
.text {
  /* font-size: 5em; */
  /* letter-spacing: 10px; */
  /* font-family: monospace; */
  /* border-right: 5px solid; */
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  /* animation-delay: 3s; */
  animation: 
          /* typing 2s steps(10), */
          typing 3s,
          cursor .4s step-end infinite alternate;
}
@keyframes cursor{
  50% {border-color: transparent;}
}
@keyframes typing{
  from {width: 0}
}

/* @keyframes typing {
  from {
    width: 0;
  }
  to {
    animation-delay: 6s;
  }
} */
/* @keyframes delay {
} */


/* glow effect  */

/* h3 {
  letter-spacing: 5px;
  cursor: pointer;
    background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
    ) */
  /* background-image: linear-gradient(135, #ff00d2, #fed90f, #00a2ff, #09f1b8,#ff00d2, #fed90f, #00a2ff, #09f1b8);
  background-image: linear-gradient(43deg, #4158d0 0%, #c850c0 46%, #ffcc70 100%);
  -webkit-background-clip: text;
  color: transparent; */
/* }
h3 span {
  transition: 0.5s;
} */
/* h3:hover span
{  
  z-index: 1; 
  font-size: larger;
  color: #fe7903;
   text-shadow: 0 0 10px white,
               0 0 20px white,
               0 0 40px white,
               0 0 80px white;
}
h3:hover span:nth-child(1)
{
  margin-right: 40px;
}
h3:hover span:nth-child(2)
{
  margin-left: 10px;
} */

/* .gradientText{
   background-image: linear-gradient(135, #ff00d2, #fed90f, #00a2ff, #09f1b8,#ff00d2, #fed90f, #00a2ff, #09f1b8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 300% 300%;
  animation: gradient 8s ease-in-out infinite;
}


@keyframes gradient {
  0%{
    background-position: 0% 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 50%;
  }
} */

/* glow animation  */

/* .glow-animation-out{
  width: 300px;
  height: 300px;
  background: #1e1e1e;
  border-radius: 20px;
  display: grid;
  justify-content: center;
  align-content: center;
}
.glow-animation-out span {
  color: white;
  z-index: 1;
} */
/* .glow-animation-in {
  color: white;
  z-index: 1;
} */
/* .glow-animation-out::before{
    content: '';
    position: absolute;
    width: 70vw;
    height: 30vw;
    left: -6vw;
    top: 1000px;
    background: linear-gradient(#00e5ff, #b400fb);
    animation: animate 10s linear infinite;
}
@keyframes animate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}
.glow-animation-out::after{
    content: '';
    position: absolute;
    inset: 5px;
    background: #29303f;
    border-radius: 18px;
} */

@font-face {
  font-family: 'Gang of Three';
  src: url('../../fonts/go3v2.ttf') format('truetype');
}

/* @font-face {
  font-family: ;
  src: url();
} */
/* hii this is akshay  */
/* test PR  */