* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Utility Classes */
.card {
  background-image: linear-gradient(163deg, #00ff75 0%, #3700ff 100%);
  border-radius: 20px;
  transition: all 0.3s;
}

.card2 {
  width: 10rem;
  height: 10rem;
  background-color: #f49d11;
  border-radius: 20px;
  transition: all 0.2s;
}

.card2:hover {
  transform: scale(0.98);
  border-radius: 20px;
}

.card:hover {
  box-shadow: 0px 0px 30px 1px rgba(110, 247, 18, 0.304);
}

.flex {
  display: flex;
}

/* container */
.home-container {
  text-align: center;
  padding: 0 1rem 0;
}

/* page banner */

.page-banner {
  width: 100%;
  height: 400px;
  position: relative;
  text-align: center;
  border: 1px solid white;
  border-radius: 8rem;
}

/* .page-banner img {
  aspect-ratio: 5/2;
} */

/* .page-banner h2 {
  background-color: #f49d11;
  border-bottom-left-radius: 5rem;
  border-bottom-right-radius: 5rem;
  padding: 0.6rem 0;
} */

.page-banner-bg {
  width: 100%;
  height: 100%;
  position: absolute;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  animation: image_blur 7s 1;
  animation-fill-mode: forwards;
  border-radius: 8rem;
}

@keyframes image_blur {
  0% {
    opacity: 1;
    -webkit-filter: blur(0px);
  }
  30% {
    opacity: 1;
    -webkit-filter: blur(0px);
  }
  100% {
    opacity: 0.2;
    -webkit-filter: blur(8px);
  }
}

.page-banner-carousal-div {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 8rem;
}

/* Countdown */

.count-down {
  justify-content: center;
  align-items: center;
  margin: 6rem 0 3rem 0;
}

.count-down-div {
  display: flex;
  margin: 0 1rem 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.count-div-item-1 {
  padding: 1.5rem;
  border: 1px solid white;
  border-radius: 20px;
  width: 4.5rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Samar Youtube */
.embadded-video {
  width: 64%;
  margin: 0 auto;
}
.embadded-video iframe {
  width: 100%;
  height: auto;
  aspect-ratio: 16/9;
}

/* speakers, schedule, sponsers, gallary */

.sssg-container {
  justify-content: space-around;
  align-items: center;
  margin: 8rem 0 4rem 0;
  flex-wrap: wrap;
}

.sssg {
  margin: 0 0 2.5rem 0;
}

.sssg:hover .sssg-item {
  transform: scale(1.05);
}

.sssg-item {
  background-image: linear-gradient(163deg, #0f1010 0%, #13024e 100%);
  border-radius: 30px;
  margin: 0 1rem 1rem;
  transition: all 0.3s;
}

.sssg-item img {
  width: 30%;
}

.sssg-item-child {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* media queries */

@media screen and (max-width: 415px) {
  .home-container {
    display: flex;
    text-align: center;
    padding: 0 1rem 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .count-div-item-1 {
    color: #fcdcfc;
    padding: 0.4rem 0;
    width: 2rem;
    margin-bottom: 1rem;
  }

  .count-down {
    justify-content: space-between;
    margin: 2rem 0 3rem 0;
    font-size: 12px;
  }

  .count-down-div {
    margin: 0 0.2rem;
  }

  .card2 {
    width: 8rem;
    height: 8rem;
  }

  .sssg {
    margin: 0rem 0.3rem 2.5rem;
  }

  .sssg-container {
    margin: 4rem 0 0rem 0;
  }

  .sssg-item {
    margin: 0;
  }

  .embadded-video {
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  .page-banner h2 {
    padding: 0.3rem 0;
    font-size: 1rem;
  }
}

@media screen and (min-width: 501px) {
  .count-down {
    font-size: 2rem;
  }
}

@media screen and (max-width: 799px) and (min-width: 608px) {
  .sssg {
    margin: 0rem 3rem 3.5rem;
  }
}
