
@font-face {
  font-family: anime_body2;
  src: url('../../fonts/anime_body2.ttf');
}

.gallery-page .gallery-heading {
  padding: 1rem;
}

.gallery-heading h3 {
  font-size: 1.8rem;
  font-weight: 600;
  text-align: center;
  padding: 0 0 1rem 0;
  border-bottom: 1px solid white;
  width: 60%;
  margin: 0 auto;
}

.gallery-heading-container {
  margin: 2rem 0 4rem 0;
}

#gallery-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

#gallery-text {
  text-align: center;
  background: radial-gradient(
    circle,
    rgba(63, 94, 251, 1) 0%,
    rgba(252, 70, 107, 1) 100%
  );

  background-size: 200%;
  /* font-family: "GOTSamar"; */
  font-family: "anime_body2";
  font-size: 4rem;
  font-weight: bolder;
  color: transparent;
  background-clip: text;
  animation: animation 1.7s linear infinite;
}

@keyframes animation {
  to {
    background-position: 200% center;
  }
}

.gallery-section1 {
  margin-bottom: 4rem;
}

.gallery-section2 {
  margin-bottom: 4rem;
}
.gallery-heading-container .gallery-heading {
  margin: auto;
}

.gallery-find-us {
  margin: 0 0 2rem 0;
}

.gallery-page p {
  text-align: center;
}

.gallery-page div {
  text-align: center;
}

.gallery-page .section2 {
  text-align: center;
}

/* flip animation */

.gallery-flip {
  position: relative;
}

.gallery-flip > .gallery-front,
.gallery-flip > .gallery-back {
  display: block;
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-duration: 0.5s;
  transition-property: transform, opacity;
}

.gallery-flip > .gallery-front {
  transform: rotateY(0deg);
}

.gallery-flip > .gallery-back {
  position: absolute;
  opacity: 0;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  transform: rotateY(-180deg);
}

.gallery-flip:hover > .gallery-front {           /* When the element is in hover state */
  transform: rotateY(180deg);
}

.gallery-flip:hover > .gallery-front h1{
  display: none;
}
.gallery-flip:hover > .gallery-back {
  opacity: 0.6;
  transform: rotateY(0deg);
}

.gallery-flip {
  position: relative;
  display: inline-block;
  width: 400px;
  margin: 1rem;
}
.gallery-flip > .gallery-front,
.gallery-flip > .gallery-back {
  color: white;
  background-size: cover !important;
  background-position: center !important;
  height: 220px;
  padding: 1em 2em;
  background: #313131;
  border-radius: 10px;
}

.gallery-flip > .gallery-front p,
.gallery-flip > .gallery-back p {
  font-size: 0.9125rem;
  line-height: 160%;
  color: #fbf4f4;
}

.gallery-text-shadow {
  text-shadow: 1px 1px rgba(0, 0, 0, 0.04), 2px 2px rgba(0, 0, 0, 0.04),
    3px 3px rgba(0, 0, 0, 0.04), 4px 4px rgba(0, 0, 0, 0.04),
    0.125rem 0.125rem rgba(0, 0, 0, 0.04), 6px 6px rgba(0, 0, 0, 0.04),
    7px 7px rgba(0, 0, 0, 0.04), 8px 8px rgba(0, 0, 0, 0.04),
    9px 9px rgba(0, 0, 0, 0.04), 0.3125rem 0.3125rem rgba(0, 0, 0, 0.04),
    11px 11px rgba(0, 0, 0, 0.04), 12px 12px rgba(0, 0, 0, 0.04),
    13px 13px rgba(0, 0, 0, 0.04), 14px 14px rgba(0, 0, 0, 0.04),
    0.625rem 0.625rem rgba(0, 0, 0, 0.04), 16px 16px rgba(0, 0, 0, 0.04),
    17px 17px rgba(0, 0, 0, 0.04), 18px 18px rgba(0, 0, 0, 0.04),
    19px 19px rgba(0, 0, 0, 0.04), 1.25rem 1.25rem rgba(0, 0, 0, 0.04);
}

.gallery-front h1{
  font-weight: 600;
  border-radius: 20px;
  color: white;
  text-shadow: 1px 1px 2px black, 0 0 1rem black, 0 0 1rem black, 0 0 1rem black, 0 0 1rem black, 0 0 1rem black, 0 0 1rem #000000, 0 0 1rem black, 0 0 1rem black;
}

.gallery-flip .img4 {
  background: url("../../Assets/Images/gallery-images/Basket\ ball.jpeg");
}

.gallery-flip .img2 {
  background: url("../../Assets/Images/gallery-images/blue-car.webp");
}

.gallery-flip .img3 {
  background: url("../../Assets/Images/gallery-images/born-fire.webp");
}

.gallery-flip .img5 {
  background: url("../../Assets/Images/gallery-images/Field.jpeg");
}
.gallery-flip .img6 {
  background: url("../../Assets/Images/gallery-images/pickel.webp");
}
.gallery-flip .img7 {
  background: url("../../Assets/Images/gallery-images/pickel\ ball.webp");
}
.gallery-flip .img8 {
  background: url("../../Assets/Images/gallery-images/sports-day-tug-of-war.webp");
}
.gallery-flip .img9 {
  background: url("../../Assets/Images/gallery-images/SportsDay-10.webp");
}
.gallery-flip .img10 {
  background: url("../../Assets/Images/gallery-images/SportsDay-11.webp");
}
.gallery-flip .img11 {
  background: url("../../Assets/Images/gallery-images/SportsDay-12.webp");
}
.gallery-flip .img12 {
  background: url("../../Assets/Images/gallery-images/SportsDay-3.webp");
}
.gallery-flip .img13 {
  background: url("../../Assets/Images/gallery-images/SportsDay-7.webp");
}
.gallery-flip .img14 {
  background: url("../../Assets/Images/gallery-images/tug-of-war.webp");
}
.gallery-flip .img15 {
  background: url("../../Assets/Images/gallery-images/tug-of-war-sd-2.webp");
}
.gallery-flip .img16 {
  background: url("../../Assets/Images/gallery-images/SportsDay-15.jpg");
}
.gallery-flip .img17 {
  background: url("../../Assets/Images/gallery-images/spider.jpg");
}

.gallery-flip .img18 {
  background: url("../../Assets/Images/gallery-images/sun\ burn.jpeg");
}

.gallery-flip .img19 {
  background: url("../../Assets/Images/gallery-images/BIKE\ Stunt.jpeg");
}
.gallery-flip .img20 {
  background: url("../../Assets/Images/gallery-images/Football.jpg");
}

.gallery-flip > .gallery-back {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


/* Media queries */

/* Mobile view */

@media (max-width: 432px) {
  .gallery-flip {
    width: 75%;
  }

  .gallery-text-shadow {
    font-size: 1.3rem;
  }

  #gallery-text{
    font-size: 3rem;
  }
  
}

/* Tablet */

@media (max-width: 800px) {
  .gallery-heading-container {
    margin-top: 4rem;
  }
}

@media (min-width: 726px) and (max-width: 860px) {
  .gallery-flip {
    width: 45%;
  }
}
