.mar_image {
  height: 10vh;
  min-height: 40px;
}

/* .shaurya-head-div {
  width: 2rem;
  height: 2rem;
  position: fixed;
  top: 15px;
  right: 20px;
} */

.head-logo-img {
  /* width: 2rem; */
  height: 4rem;
  /* width: 2rem; */
  min-height: 40px;
  display: none;
  margin-left: 4%;
  margin-top: 20%;
}

@media screen and (max-width: 1000px) {
  .shaurya-head-div {
    min-height: 40px;
    height: 6rem;
    z-index: 101;
    position: fixed;
  }

  .head-logo-img {
    display: block;
    z-index: 102;
  }
}
