/* .about-us-container {
  font-family: "DragonBold";
} */
.merchandise_image img {
  width: 500px;
  padding-bottom: 50px;
  /* height: 500px; */
}
.merchandise_data h3 {
  font-family: "DragonBold", sans-serif;
  font-size: 40px;
}
.merchandise_data h2 {
  font-size: 4rem;
  font-weight: bold;
}
.containermar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-shrink: 2;
  justify-content: space-around;
  margin: 5px;
  padding-top: 40px;
}

.merchandise_data {
  text-align: center;
}

#merch-wrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

#merch-text{
  text-align: center;
	background: radial-gradient(
		circle,
		rgba(63, 94, 251, 1) 0%,
		rgba(252, 70, 107, 1) 100%
	);

	background-size: 200%;
	font-weight: bolder;
	color: transparent;
	background-clip: text;
	animation: animation 1.7s linear infinite;
}

@keyframes animation {
	to {
		background-position: 200% center;
	}
}
.mar_button {
  background-color: rgb(222, 16, 16);
}

@media screen and (max-width: 800px) {
  .merchandise_image img {
    display: flex;
    width: 80%;
    margin-left: 10%;
    align-items: center;
    margin-top: 2.4rem;
  }
  .merchandise_data h3 {
    font-size: 250%;
    padding-top: 100px;
  }
}

@media (max-width: 418px){
  .merchandise_data h2{
    font-size: 2.4rem;
  }
}
