.spo-wrapper {
  display: flex;
  justify-content: space-between;
}

.spo-main,
.spo-sidebar {
  border: 3px solid black;
  background-color: #fff;
}

.spo-main {
  width: 50%;
  height: 100%;
  margin-right: 2rem;
  margin-bottom: 2rem;
  background-color: black;
  overflow: scroll;
}

.spo-main::-webkit-scrollbar {
  display: none;
}

.spo-sidebar {
  width: 40%;
  height: 25vh;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  color: #fff;
  background-color: black;
  padding-top: 2rem;
  padding-left: 2rem;
  margin-left: 2rem;
}

.spo-heading1 {
  font-weight: 800;
  text-align: center;
  justify-content: center;
  align-items: center;
  display: flex;
  margin-right: 3rem;
}

.spo-heading {
  font-weight: 800;
}

.spo-text {
  text-align: justify;
  padding-left: 1rem;
  font-size: larger;
  padding-top: 1.5rem;
}

.spo-img {
  width: 50%;
  height: 18rem;
}

@media (max-width: 768px) {
  .spo-sidebar {
    margin-left: 0;
    width: 100%;
    float: none;
    margin-bottom: 2rem;
    position: relative;
  }
  .spo-main {
    width: 100%;
    margin-top: 6rem;
  }

  .spo-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .spo-text {
    text-align: justify;
    padding-left: 1rem;
    padding-right: 3rem;
    font-size: larger;
    padding-top: 1.5rem;
  }

  .spo-img {
    width: fit-content;
    height: 18rem;
  }
}
