/* @font-face {
  font-family: NEW;
  src: url("../../fonts/anime_body.ttf");
}
 */
 @font-face {
  font-family: anime_body;
  src: url('../../fonts/anime_body.ttf');
}
@font-face {
  font-family: anime_body2;
  src: url('../../fonts/anime_body2.ttf');
}
.spo-wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url("../../Assets/assets/herobg.png");
 
  background-repeat: no-repeat;
  background-size: cover;
  
  overflow: hidden;
  
}
body{
  
  overflow-y: visible;
}
.spo-main,
.spo-sidebar {
  
  
  justify-content: center;
  box-sizing: border-box;
  align-self: center;
  overflow: hidden;
}

.spo-main {
  width: 70%;  
  margin:  0rem;
  margin-bottom: 2rem;
 
  overflow: visible;
  border: #ffffff;
  padding-bottom: 20px;
  
    box-sizing: border-box;
    --g : 60px;
   padding: var(--g);
   --num-cols: 3;
   --row-height: 360px;
   display: grid;
   
   grid-template-columns: repeat(var(--num-cols), 1fr);
   grid-auto-rows: var(--row-height);
   gap: var(--g);

}

.spo-main > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  
 
}

@media screen and (max-width : 1024px) {
    .spo-main{
        --num-cols: 2;
        --row-height:100px;
    }
}


.spo-main::-webkit-scrollbar {
  display: flex;
}

.spo-sidebar {
  width: 80%;
  height: 30%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  color: #ffffff;

  
  padding-top: 2rem;
  padding-left: 0rem;
  margin-left: 0rem;
  margin-bottom: 20px;
}

.spo-heading1 {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 10px;
  

}
/* @font-face {
  font-family: NEW;
  src: url(C:\Users\adity\Samar2k22\src\fonts\Bender.ttf);
} */
#sponsor-text {
  background: radial-gradient(
    circle,
    rgb(156, 1, 1) 0%,
    rgb(20, 11, 155) 100%
  );
  font-family: anime_body;
  background-size: 200%;
  /* font-weight: bolder; */
  color: transparent;
  background-clip: text;
  animation: animation 2s linear infinite;
  font-size: 3cm;
   -webkit-text-stroke: #ffffff ;
  -webkit-text-stroke-width: 0.5px;
}

@keyframes animation {
  to {
    background-position: 200% center;
  }
}

.spo-heading {
  margin-top: 0.4rem;
  font-weight: 800;
}

.spo-text {
  text-align: justify;
  padding-left: 0rem;
  font-size: x-large;
  padding-top: 1rem;
  margin-bottom: 10px;
}

.spo-img {
  width: 100%;
  height: 100%;
}

.sponsor-first {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
 
  height: 100%;
  width: 100%;
  padding: 10px;
  

  position: relative;
	
	
  background-color: rgba(255, 255, 255, 0.1);  
  border-radius: 10px; 
  box-shadow: 0 0 20px rgb(255, 255, 255);
 
}


.sponsor-first h1 {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .spo-sidebar {
    margin-left: 0;
    width: 100%;
    float: none;
    margin-bottom: 2rem;
    position: relative;
    padding: 1rem;
    margin-top: 20px;
  }
  

  .spo-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .spo-text {
    text-align: justify;
    font-size: larger;
    padding: 0rem;
  }

  .spo-img {
    width: fit-content;
    height: 18rem;
  }
}
