.spo-wrapper {
  display: flex;
  justify-content: space-between;
}

.spo-main,
.spo-sidebar {
  border: 3px solid black;
  background-color: #fff;
}

.spo-main {
  width: 50%;
  height: 100%;
  margin-right: 2rem;
  margin-bottom: 2rem;
  background-color: black;
  overflow: scroll;
}

.spo-main::-webkit-scrollbar {
  display: none;
}

.spo-sidebar {
  width: 40%;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  color: #fff;
  background-color: black;
  padding-top: 2rem;
  padding-left: 2rem;
  margin-left: 2rem;
}

.spo-heading1 {
    text-align: center;
    font-size: 2.5rem;
}

#sponsor-text{
	background: radial-gradient(
		circle,
		rgba(63, 94, 251, 1) 0%,
		rgba(252, 70, 107, 1) 100%
	);

	background-size: 200%;
	font-weight: bolder;
	color: transparent;
	background-clip: text;
	animation: animation 1.7s linear infinite;
}

@keyframes animation {
	to {
		background-position: 200% center;
	}
}

.spo-heading {
  font-weight: 800;
}

.spo-text {
  text-align: justify;
  padding-left: 1rem;
  font-size: larger;
  padding-top: 1.5rem;
}

.spo-img {
  width: 50%;
  height: 18rem;
}

.sponsor-first {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 40px;
}

.sponsor-first h1 {
  margin-bottom: 20px;
}

@media (max-width: 768px) {
  .spo-sidebar {
    margin-left: 0;
    width: 100%;
    float: none;
    margin-bottom: 2rem;
    position: relative;
  }
  .spo-main {
    width: 100%;
    margin-top: 6rem;
  }

  .spo-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .spo-text {
    text-align: justify;
    padding-left: 1rem;
    padding-right: 3rem;
    font-size: larger;
    padding-top: 1.5rem;
  }

  .spo-img {
    width: fit-content;
    height: 18rem;
  }
}
