html {
  height: 100%;
}

body {
  margin: 0;
  color: white;
  background: black;
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  width: 100%;
  flex-direction: column;
  min-height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  text-decoration: none;
  color: white;
}

@font-face {
  font-family: "Dragon";
  src: local("Lato"),
    url(./fonts/HouseOfTheDragon_PERSONAL_USE_ONLY.otf) format("opentype");
}

@font-face {
  font-family: "DragonBold";
  font-weight: 900;
  src: local("Lato"),
    url(./fonts/HouseOfTheDragonBold_PERSONAL_USE_ONLY.otf) format("opentype");
}

@font-face {
  font-family: "DragonDeco";
  font-weight: 900;
  src: local("Lato"),
    url(./fonts/HouseOfTheDragonDeco_PERSONAL_USE_ONLY.otf) format("opentype");
}

@font-face {
  font-family: "DragonOutline";
  font-weight: 900;
  src: local("Lato"),
    url(./fonts/HouseOfTheDragonOutline_PERSONAL_USE_ONLY.otf)
      format("opentype");
}

@font-face {
  font-family: "GOTSamar";
  src: local("Game of Thrones"),
    url(./fonts/Game\ of\ Thrones.ttf) format("truetype");
}

@tailwind base;
@tailwind components;
@tailwind utilities;
